<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.upsam.civicrm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- PERMISOS APLICACION -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- APLICACION -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CiviTheme" >

        <!-- SPLASH -->
        <activity
            android:name="org.upsam.civicrm.splash.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name="org.upsam.civicrm.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- PREFERENCIAS -->
        <activity
            android:name="org.upsam.civicrm.preference.SetPreferenceActivity"
            android:label="@string/preferencias_label"
            android:parentActivityName="org.upsam.civicrm.MainActivity"
            android:theme="@style/CiviConfigTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.MainActivity" />
        </activity>

        <!-- LISTADO DE CONTACTOS -->
        <activity
            android:name="org.upsam.civicrm.contact.list.ContactListTabs"
            android:label="@string/title_activity_contact_list"
            android:parentActivityName="org.upsam.civicrm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.MainActivity" />
        </activity>
        <!-- DETALLE DE CONTACTOS -->
        <activity
            android:name="org.upsam.civicrm.contact.detail.ContactDetailFragmentActivity"
            android:label="@string/title_activity_contact_details"
            android:parentActivityName="org.upsam.civicrm.contact.list.ContactListTabs"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.contact.list.ContactListTabs" />
        </activity>

        <!-- ROBOSPICE - SERVICIOS REST -->
        <service
            android:name="org.upsam.civicrm.rest.CiviCRMAndroidSpiceService"
            android:exported="false" />
        <service
            android:name="org.upsam.civicrm.rest.CiviCRMAndroidPostSpiceService"
            android:exported="false" />

        <activity
            android:name="org.upsam.civicrm.contact.add.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName="org.upsam.civicrm.contact.list.ContactListTabs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.contact.list.ContactListTabs" />
        </activity>
        <activity
            android:name="org.upsam.civicrm.calendar.CalendarTabs"
            android:label="@string/title_activity_calendario"
            android:parentActivityName="org.upsam.civicrm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.MainActivity" />
        </activity>

        <service
            android:name="org.upsam.civicrm.activity.services.AddActivityService"
            android:exported="false" />

        <receiver android:name="org.upsam.civicrm.receivers.IncomingPhoneCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.upsam.civicrm.charts.ActivityResolutionReportActivity"
            android:label="@string/title_activity_activity_resolution_column_chart"
            android:parentActivityName="org.upsam.civicrm.charts.ReportSelectorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.charts.ReportSelectorActivity" />
        </activity>
        <activity
            android:name="org.upsam.civicrm.charts.SybuntReportActivity"
            android:label="@string/title_activity_sybunt_report"
            android:parentActivityName="org.upsam.civicrm.charts.ReportSelectorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.charts.ReportSelectorActivity" />
        </activity>
        <activity
            android:name="org.upsam.civicrm.charts.ReportSelectorActivity"
            android:label="@string/title_activity_report_selector"
            android:parentActivityName="org.upsam.civicrm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.upsam.civicrm.MainActivity" />
        </activity>
    </application>

</manifest>